/* Codes Component */
/* Based on Spectre.css codes styles */

code {
    background: var(--highlight-color);
    border-radius: var(--border-radius);
    color: var(--code-color);
    font-size: 85%;
    line-height: 1.25;
    padding: 0.1rem 0.2rem;
}

.code {
    border-radius: var(--border-radius);
    color: var(--body-font-color);
    position: relative;
}

.code::before {
    color: var(--gray-color);
    content: attr(data-lang);
    font-size: var(--font-size-sm);
    position: absolute;
    right: var(--layout-spacing);
    top: var(--unit-h);
}

.code code {
    background: var(--bg-color);
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
}
