.panel {
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.panel__header,
.panel__footer {
    flex: 0 0 auto;
    padding: var(--unit-8);
}

.panel__nav {
    flex: 0 0 auto;
}

.panel__body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 var(--unit-8);
}
