/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

::view-transition-old([view-transition-name^="activity-"]),
::view-transition-new([view-transition-name^="activity-"]) {
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    transform-origin: center center;
}

::view-transition-old([view-transition-name^="activity-"]) {
    animation-name: slide-out-up;
    z-index: 1;
}

::view-transition-new([view-transition-name^="activity-"]) {
    animation-name: expand-in;
    z-index: 2;
}

@keyframes slide-out-up {
    to {
        transform: translateY(-20%);
        opacity: 0;
    }
}

@keyframes expand-in {
    from {
        transform: scale(0.95) translateY(20%);
        opacity: 0;
    }
}

.page {
    .page-hero {
        margin-bottom: 30px;
    }
}

.day-selector {
    display: flex;
    gap: 0.25rem;
    align-content: center;
    align-items: center;
    list-style: none;
    .day-selector-item {
        display: block;
        border-radius: 30%;
        padding: 10px 5px;
    }
}

.flash-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .heading-content {
        flex: 1 1 0;
    }
}

/* Activity card */
.activity-card {
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius);
    background: var(--bg-color);
    padding: var(--unit-8);
    display: flex;
    flex-direction: column;
    gap: var(--unit-4);
}

/* Header */
.activity-card__header {
    display: flex;
    align-items: flex-start;
    gap: var(--unit-4);
}

.activity-card__body {
    flex: 1;
    min-width: 0;
}

/* Footer */
.activity-card__footer {
    display: flex;
    justify-content: flex-start;
}

/* Desktop */
@media (min-width: 768px) {
    .activity-card {
        flex-direction: row;
        align-items: center;
    }

    .activity-card__footer {
        order: -1;
        align-content: end;
    }

    .activity-card__header {
        flex: 1;
        align-items: center;
    }
}
