/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


::view-transition-old([view-transition-name^="activity-"]),
::view-transition-new([view-transition-name^="activity-"]) {
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    transform-origin: center center;
}

::view-transition-old([view-transition-name^="activity-"]) {
    animation-name: slide-out-up;
    z-index: 1;
}

::view-transition-new([view-transition-name^="activity-"]) {
    animation-name: expand-in;
    z-index: 2;
}

@keyframes slide-out-up {
    to {
        transform: translateY(-20%);
        opacity: 0;
    }
}

@keyframes expand-in {
    from {
        transform: scale(0.95) translateY(20%);
        opacity: 0;
    }
}